@{
    ViewBag.Title = "African Rancher";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/kendo.common.min.css" />
<link rel="stylesheet" href="~/css/kendo.bootstrap.min.css" />


<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/kendoui/kendo.core.min.js"></script>
<script src="~/lib/kendoui/kendo.data.min.js"></script>
<script src="~/lib/kendoui/kendo.angular.min.js"></script>
<script src="~/lib/kendoui/kendo.grid.min.js"></script>

<script src="~/js/angularModules/app.js"></script>
<script src="~/js/angularModules/bovinesController.js"></script>

<div ng-app="app">
    
    <div ng-controller="bovinesController">
        <kendo-grid options="bovinesGridOptions">
            
        </kendo-grid>
    </div>
</div>