@{
    ViewData["Title"] = "Home Page";
}



<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>What do you want to do?</h1>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>In the field</h2>
                    </div>
                    <div class="panel-body">
                        <h3>
                            Add <strong>new data</strong> about your cattle
                        </h3>
                        <ul>
                            <li>Add a <strong>new animal?</strong></li>
                            <li>Record an animal <strong>weight</strong>?</li>
                            <li>Move an animal between <strong>heards?</strong></li>
                            <li>Record a <strong>sick</strong> animal or treatment?</li>
                            <li>Record a <strong>weaning</strong>?</li>
                            <li>Record a <strong>castration</strong>?</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>In the office</h2>
                    </div>
                    <div class="panel-body">
                        <h3>@Html.ActionLink("Review all your cattle","Index","Office")</h3>
                        <ul>
                            <li>See a <strong>list of all your cattle</strong>?</li>
                            <li><strong>Change details</strong> of a particular animals?</li>

                        </ul>
                    


                    <h3>Gain useful insights about your ranch</h3>
                    <ul>
                        <li>See all the <strong>progeny</strong> for a bull and cow?</li>
                        <li>Find the pairs with the heighest <strong>average weening weight</strong>?</li>

                    </ul>
                    </div>
                </div>
            </div>
            
        </div>

    </div>




</div>
