

@{
    ViewData["Title"] = "Edit Bovine";
    Layout = "_Layout";
}


<div class="row">

    <form class="form-horizontal">
        <div class="form-group">
            <label  class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <p class="form-control-static" id="name"></p>
            </div>
        </div>
        
    </form>


   

</div>

<script>
    $(document).ready(function() {

        var id = function() {
            var expr = '([0-9]+)$';
            var regex = new RegExp(expr);
            var results = regex.exec(window.location.href);
            return results[1];
        }();

        $.getJSON('/api/Bovines/' + id, null, function(data, textStatus, jqXHR) {
            var name = data.NickName;
            var nameElem = $("#name");
            nameElem.append(name);
        });
        



    })
</script>



