
@{
    Layout = "_Layout";
}


<environment names="Development">
    <link rel="stylesheet" type="text/css" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.css" />
    <script type="text/javascript" charset="utf8" src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/lib/datatables.net-bs/js/dataTables.bootstrap.js"></script>
</environment>

<environment names="Staging,Production">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

</environment>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="table_id" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nick Name</th>
                        <th>Bolus</th>
                        <th>Ear Tag</th>
                        <th>Brand</th>
                        <th>Birth Date</th>
                        <th>Sex</th>
                        <th>Breed</th>
                        <th>Weening Date</th>

                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Nick Name</th>
                        <th>Bolus</th>
                        <th>Ear Tag</th>
                        <th>Brand</th>
                        <th>Birth Date</th>
                        <th>Sex</th>
                        <th>Breed</th>
                        <th>Weening Date</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
        {
            ajax: {
                url: '/api/Bovines',
                dataSrc: ''
            },
            columns: [
                {
                    data: 'NickName',
                    render: function(data, type, row) {
                        return "<a href='/office/cattle/" + row.Id + "'>" + data + "</a>";
                    }
                },
                { data: 'Bolus' },
                { data: 'EarTag' },
                { data: 'Brand' },
                { data: 'BirthDate' },
                {
                    data: 'Sex',
                    render: function(data, type, row) {
                        if (data === 0)
                            return "Male";
                        return "Female"; 
                    }
                },
                { data: 'Breed' },
                { data: 'WeeningDate'}
            ]


        });
    });
</script>
